body{
  background-color: #e0e0e0;
  font-family: verdana,sans-serif;
  color: #323232;
  font-size: 22px;
  text-align: center;
}

main{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  list-style-type:
}

.hoved{
  border-radius: 5px;
  width: 500px;
}
.hoved1{
  border-radius: 25%;
  width: 500px;
  padding: 50px;
}




ul{
  margin-top: 10px;
  text-align: left;
  margin-left: 10%
}
ul li{
  padding-top: 10px;
  width: 650px;
}

.footer{
  list-style-type: none;
  position: absolute;
  bottom: 5px;
  margin-left: 20%;
}
.footer li{
  display: inline;
  background-color: grey;
  margin: 3px
  padding: 5px 10px;
  font-style: bold;
}

.navListe{
  list-style-type: none;
  margin:0;
  padding:0;
  text-align: center;
}

.navListe li{
  display: inline;

}

.navListe a{
  background-color: #598081;
  text-decoration: none;
  margin: 3px;
  padding:5px 10px;
  color:#333333;
  font-style: bold;
}

.navListe a:hover{
  background-color: #88B7B9;
}
